//******************************************************************************
// Global
//******************************************************************************
.page-title-wrap {
	background-color: @color-dark-grey;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 80px;

	@media only screen and (min-width: (@screen-tablet + 1)) {
		.aspect-ratio(1440, 135);
	}

	@media only screen and (max-width: @screen-tablet) {
		margin-bottom: 40px;
		padding: 20px 0;
	}

	.page-title {
		font-size: 32px;
		line-height: 38px;
		font-family: @font-family-montserrat;
		font-weight: bold;
		color: @color-white;
		letter-spacing: -1px;
		text-align: center;
		margin: 0;

		@media only screen and (min-width: (@screen-tablet + 1)) {
			.absolute-center();
		}

		@media only screen and (max-width: @screen-tablet) {
			font-size: 28px;
			line-height: 32px;
		}
	}
}

.page-container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;

	.page-content {
		.section-container {
			margin-bottom: 40px;
		}
	}

	&.has-sidebar {
		.page-content {
			float: right;
			width: 65%;

			@media only screen and (max-width: @screen-mobile-tablet) {
				float: none;
				width: 100%;
				margin-bottom: 60px;
			}
		}

		.sidebar {
			float: left;
			width: 30%;

			@media only screen and (max-width: @screen-mobile-tablet) {
				float: none;
				width: 100%;
			}

			#rpwwt-recent-posts-widget-with-thumbnails-2 {
				ul li {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					margin: 0 0 15px 0;
					float: none;
				}

				.rpwwt-post-title {
					display: block;
					text-align: center;
					font-size: 28px;
					line-height: 32px;
					font-family: @font-family-montserrat;
					font-weight: bold;
					color: @color-black;
				}
			}
		}
	}
}

//******************************************************************************
// FAQs Page
//******************************************************************************
body.faqs {
	.page-content {
		.section-container ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}

//******************************************************************************
// About Page
//******************************************************************************
body.about {
	.page-title-wrap {
		background-image: url(images/about-banner.png);
	}
}

//******************************************************************************
// Contact Page
//******************************************************************************
body.contact {
	.page-title-wrap {
		background-image: url(images/contact-banner.png);
	}

	.contact-form-container {
		max-width: 1240px;
		padding: 0 20px;
		margin: 0 auto 40px;

		.form-wrap {
			margin-bottom: 40px;

			.form-col {
				@media only screen and (min-width: (@screen-tablet + 1)) {
					width: 46%;

					&.left {
						float: left;
					}

					&.right {
						float: right;
					}
				}
			}
		}

		h5 {
			font-family: @font-family-montserrat;
			margin-bottom: 15px;
		}

		.subtitle {
			font-weight: bold;
			margin-bottom: 30px;
		}

		p a {
			color: @color-red;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//******************************************************************************
// Available Dogs Page
//******************************************************************************
body.available-dogs {
	.page-title-wrap {
		background-image: url(images/available-dogs-banner.png);
	}

	.available-dogs-container {
		text-align: center;
		padding: 40px 20px;

		.available-dogs {
			list-style: none;
			max-width: 1200px;
			margin: 0 auto;
			padding: 0;

			li {
				float: left;
				width: 32%;
				text-align: center;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				.img-wrap {
					margin-bottom: 20px;

					img {
						display: block;
					}
				}

				h5 {
					margin-bottom: 0;
				}
			}
		}
	}
}

//******************************************************************************
// Adoption Form Page
//******************************************************************************
body.adopt {
	.adoption-form-container {
		.adoption-page {
			display: none;

			&.active {
				display: block;
			}

			&.intro {
				.btn-continue {
					opacity: 0;
					visibility: hidden;
					.transition(all 0.3s);

					&.active {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		.important {
			color: @color-red;
		}

		ul {
			list-style: none;
			padding: 0 40px;

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.form-field {
			&.agree {
				max-width: 600px;
				margin: 0 auto;
			}
		}

		.actions-wrap {
			margin-bottom: 80px;
			text-align: center;

			p {
				font-weight: bold;
			}

			input[type="submit"] {
				width: 250px;

				@media only screen and (max-width: @screen-mobile) {
					width: 100%;
				}
			}
		}

		.section-container {
			padding-bottom: 40px;
			margin-bottom: 40px;
			border-bottom: 1px solid @color-red;

			&.pet-information {
				padding-bottom: 0;
				border-bottom: none;
				margin-bottom: 80px;
			}

			p {
				font-weight: bold;
			}

			.form-col {
				@media only screen and (min-width: (@screen-tablet + 1)) {
					width: 46%;

					&.left {
						float: left;
					}

					&.right {
						float: right;
					}
				}
			}

			.col-layout {
				display: flex;

				.col {
					margin-right: 15px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}

			.wpcf7-list-item {
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;

				input[type="radio"] {
					display: inline-block;
					vertical-align: middle;
					margin-right: 5px;
				}

				.wpcf7-list-item-label {
					display: inline-block;
					vertical-align: middle;
					padding-top: 3px;
				}
			}
		}
	}
}