.footer {
	background: @color-black;
	color: @color-white;
	text-align: center;
	padding: 30px 50px;
	font-size: 13px;
	line-height: 16px;

	a {
		color: @color-white;
	}

	.footer-content {
		border-bottom: 1px solid rgba(224,224,224, 0.4);
		padding-bottom: 15px;
		max-width: 1200px;
		margin: 0 auto 30px;
	}

	.footer-nav ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;
			font-size: 18px;
			line-height: 20px;
			font-weight: bold;
			text-transform: uppercase;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.address {
		margin: 20px 0;
	}

	.socials {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.copyright {
		opacity: 0.66;
		margin: 0;
	}
}