*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-size: 16px;
	line-height: 20px;
	font-family: @font-family-montserrat;
	color: @color-text;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-roboto-cd;
    color: @color-black;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}

h1 {
	font-size: 54px;
	line-height: 56px;

	@media only screen and (max-width: @screen-mobile) {
		font-size: 40px;
		line-height: 40px;
	}
}

h2 {
	font-size: 50px;
	line-height: 52px;

	@media only screen and (max-width: @screen-mobile) {
		font-size: 36px;
		line-height: 36px;
	}
}

h3 {
	font-size: 44px;
	line-height: 46px;

	@media only screen and (max-width: @screen-mobile) {
		font-size: 26px;
		line-height: 26px;
	}
}

h4 {
	font-size: 30px;
	line-height: 32px;

	@media only screen and (max-width: @screen-mobile) {
		font-size: 22px;
		line-height: 22px;
	}
}

h5 {
	font-size: 28px;
	line-height: 30px;

	@media only screen and (max-width: @screen-mobile) {
		font-size: 20px;
		line-height: 20px;
	}
}

p {
	margin: 0 0 10px;
}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: @color-text;
	text-decoration: none;

	&:focus {
		outline: 0;
	}

	&:hover,
	&:active {
		outline:0;
	}
}

input:focus {
	outline:0;
	border: 1px solid @color-border-dark;
}

/*------------------------------------*\
    Buttons
\*------------------------------------*/
.btn,
input[type="submit"] {
	display: inline-block;
	background-color: @color-red;
	color: @color-white;
	font-size: 14px;
	line-height: 18px;
	font-family: @font-family-montserrat;
	font-weight: bold;
	padding: 11px 20px;
	text-transform: uppercase;
	.border-radius(5px);
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.1), 1px 1px 0 0 rgba(0,0,0,0.1);
	.transition(background-color 0.3s);
	text-align: center;

	&:hover {
		background-color: @color-dark-red;
		color: @color-white;
	}

	&.secondary {
		background-color: @color-black;

		&:hover {
			background-color: @color-dark-grey-2;
		}
	}
}

button.btn,
input[type="submit"] {
	outline: 0;
	border: none;
}

/*------------------------------------*\
    FORMS
\*------------------------------------*/
.wpcf7-form {
	.form-field {
		margin-bottom: 20px;

		label {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			color: @color-text;
			margin-bottom: 5px;

			&.req:after {
				content: '*';
				display: inline-block;
				vertical-align: top;
				margin-left: 5px;
				color: @color-red;
			}
		}

		.wpcf7-form-control-wrap {
			display: block;

			input[type="text"],
			input[type="email"],
			input[type="tel"] {
				font-size: 14px;
				line-height: 38px;
				height: 40px;
				width: 100%;
				padding: 0 10px;
				border: 1px solid @color-border-light;
				.border-radius(5px);
				background-color: @color-light-grey;
			}

			textarea {
				background-color: @color-light-grey;
				border: 1px solid @color-border-light;
				.border-radius(5px);
				padding: 10px;
				width: 100%;
				font-size: 14px;
				line-height: 16px;
				resize: none;
			}

			select {
				height: 40px;
				width: 100%;
				border: 1px solid @color-border-light;
			}

			.wpcf7-not-valid-tip {
				font-size: 12px;
				line-height: 22px;
				color: @color-red;
			}

			/* Checkboxes */
			.wpcf7-list-item {
				display: block;
				margin: 0 0 5px;

				&:last-of-type {
					margin-bottom: 0;
				}

				input[type="checkbox"] {
					float: left;
					margin-top: 1px;
					margin-right: 5px;
				}

				.wpcf7-list-item-label {
					display: block;
				}
			}
		}

		.wpcf7-submit {
			@media only screen and (max-width: @screen-mobile) {
				width: 100%;
			}
		}
	}
}

.wpcf7-response-output {
	float: left;
	width: 100%;
	margin: 20px 0 !important;

	&.wpcf7-validation-errors, &.wpcf7-acceptance-missing {
		border-color: @color-red !important;
	}
}

// Give Form Styling
.give-form-wrap {
	margin-bottom: 40px;
}

form[id*=give-form] {
	#give-donation-level-button-wrap, #give-payment-mode-select {
		margin-bottom: 40px;
	}

	button.give-donation-level-btn {
		background: @color-dark-grey-2;
		border-color: @color-dark-grey-2;
		color: @color-white;
		.transition(all 0.3s);

		&:hover {
			background: @color-light-grey;
			color: @color-black;
		}
	}

	label.give-label {
		font-size: 16px;
		line-height: 20px !important;
		font-weight: bold;
		color: @color-text;

		input.give-input {
			height: auto;
		}
	}

	input.give-input {
		font-size: 14px;
		line-height: 38px;
		height: 40px;
		padding: 0 10px !important;
		border: 1px solid @color-border-light !important;
		border-radius: 5px !important;
		background-color: @color-light-grey !important;
	}

	button.give-btn {
		border-radius: 5px;
	}

	.give-donation-amount {
		span.give-currency-symbol {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}

		input#give-amount {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	#give-final-total-wrap {
		span.give-donation-total-label {
			font-size: 16px;

			@media only screen and (min-width: (@screen-mobile + 1)) {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}

			@media only screen and (max-width: @screen-mobile) {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
		}

		span.give-final-total-amount {
			font-size: 16px;

			@media only screen and (min-width: (@screen-mobile + 1)) {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			@media only screen and (max-width: @screen-mobile) {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}

	input.give-submit {
		padding-left: 40px;
		padding-right: 40px;

		@media only screen and (max-width: @screen-mobile) {
			width: 100%;
		}
	}
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background: @color-red;
	color: @color-white;
	text-shadow:none;
}
::-webkit-selection {
	background: @color-red;
	color: @color-white;
	text-shadow:none;
}
::-moz-selection {
	background: @color-red;
	color: @color-white;
	text-shadow:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style: italic;
	color: @color-dark-grey-2;
}
::-moz-placeholder { /* Firefox 19+ */
	font-style: italic;
	color: @color-dark-grey-2;
}
:-ms-input-placeholder { /* IE 10+ */
	font-style: italic;
	color: @color-dark-grey-2;
}
:-moz-placeholder { /* Firefox 18- */
	font-style: italic;
	color: @color-dark-grey-2;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}