.header {
	background: @color-white;
	text-align: right;
	padding: 10px 0;
	border-bottom: 1px solid @color-border-light;

	.header-inner {
		position: relative;
		max-width: 1480px;
		margin: 0 auto;
		padding: 46px 20px 46px 172px;
	}

	.logo {
		position: absolute;
		top: 0;
		left: 20px;
		width: 132px;
		height: auto;
	}

	.nav {
		display: inline-block;
		vertical-align: middle;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				vertical-align: top;
				margin: 0 20px 0 0;
				font-family: @font-family-roboto-cd;
				font-size: 16px;
				line-height: 32px;
				font-weight: bold;
				text-transform: uppercase;

				&:last-child {
					margin-right: 0;
				}

				a {
					display: inline-block;
					vertical-align: top;
					color: @color-dark-grey;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						bottom: -3px;
						left: 0;
						width: 100%;
						height: 3px;
						background-color: @color-dark-grey;
						.scale3d(0, 1, 1);
						.transition(transform 0.3s);
						-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
						transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
					}

					&:hover {
						&:before {
							.scale3d(1,1,1);
						}
					}
				}
			}
		}
	}

	.header-search {
		display: inline-block;
		vertical-align: middle;
		padding: 0 0 0 20px;
		width: 25%;

		.input-wrap {
			position: relative;

			input.search-input {
				height: 40px;
				border: 1px solid @color-border-dark;
				background-color: @color-light-grey;
				font-size: 13px;
				line-height: 38px;
				color: @color-dark-grey-2;
				border-radius: 21px;
				padding: 0 60px 0 20px;
				width: 100%;
			}

			.search-submit {
				position: absolute;
				top: 0px;
				right: 0;
				height: 40px;
				width: 40px;
				font-size: 18px;
				padding: 0;
				outline: 0;
				border: none;
				background: none;

				span {
					.transition(opacity 0.3s);
				}

				&:hover span {
					opacity: 0.6;
				}
			}
		}
	}
}