@color-white: #FFFFFF;
@color-black: #000000;
@color-red: #C61C30;
@color-dark-red: #9B1D2C;
@color-light-grey: #F7F7F7;
@color-dark-grey: #2C2C2C;
@color-dark-grey-2: #696969;
@color-border: #272727;
@color-text: #666666;