@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?rv83de');
  src: url('../fonts/icomoon.eot?rv83de#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?rv83de') format('truetype'), url('../fonts/icomoon.woff?rv83de') format('woff'), url('../fonts/icomoon.svg?rv83de#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\e908";
}
.icon-heart-full:before {
  content: "\e909";
}
.icon-checkbox-nocheck:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
/* ============== */
/* CSS Animations */
/* ============== */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes zoomin {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomin {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes zoominfaded {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0.9;
  }
}
@keyframes zoominfaded {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0.9;
  }
}
@-webkit-keyframes slideindown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideindown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: bold;
  margin: 0 0 20px;
  text-transform: uppercase;
}
h1 {
  font-size: 54px;
  line-height: 58px;
}
h2 {
  font-size: 50px;
  line-height: 54px;
}
h3 {
  font-size: 44px;
  line-height: 48px;
}
h4 {
  font-size: 30px;
  line-height: 34px;
}
h5 {
  font-size: 28px;
  line-height: 32px;
}
p {
  margin: 0 0 10px;
}
/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #666666;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
input:focus {
  outline: 0;
  border: 1px solid #272727;
}
/*------------------------------------*\
    Buttons
\*------------------------------------*/
.btn,
input[type="submit"] {
  display: inline-block;
  background-color: #C61C30;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 11px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-align: center;
}
.btn:hover,
input[type="submit"]:hover {
  background-color: #9B1D2C;
  color: #FFFFFF;
}
.btn.secondary,
input[type="submit"].secondary {
  background-color: #000000;
}
.btn.secondary:hover,
input[type="submit"].secondary:hover {
  background-color: #696969;
}
button.btn,
input[type="submit"] {
  outline: 0;
  border: none;
}
/*------------------------------------*\
    FORMS
\*------------------------------------*/
.wpcf7-form .form-field {
  margin-bottom: 20px;
}
.wpcf7-form .form-field label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #666666;
  margin-bottom: 5px;
}
.wpcf7-form .form-field label.req:after {
  content: '*';
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  color: #C61C30;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap {
  display: block;
  /* Checkboxes */
}
.wpcf7-form .form-field .wpcf7-form-control-wrap input[type="text"],
.wpcf7-form .form-field .wpcf7-form-control-wrap input[type="email"],
.wpcf7-form .form-field .wpcf7-form-control-wrap input[type="tel"] {
  font-size: 14px;
  line-height: 38px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #F7F7F7;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap textarea {
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  resize: none;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  font-size: 12px;
  line-height: 22px;
  color: #C61C30;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap .wpcf7-list-item {
  display: block;
  margin: 0 0 5px;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap .wpcf7-list-item:last-of-type {
  margin-bottom: 0;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap .wpcf7-list-item input[type="checkbox"] {
  float: left;
  margin-top: 1px;
  margin-right: 5px;
}
.wpcf7-form .form-field .wpcf7-form-control-wrap .wpcf7-list-item .wpcf7-list-item-label {
  display: block;
}
.wpcf7-response-output {
  float: left;
  width: 100%;
  margin: 20px 0 !important;
}
.wpcf7-response-output.wpcf7-validation-errors,
.wpcf7-response-output.wpcf7-acceptance-missing {
  border-color: #C61C30 !important;
}
/*------------------------------------*\
    MISC
\*------------------------------------*/
::-moz-selection {
  background: #F7F7F7;
  color: #FFFFFF;
  text-shadow: none;
}
::selection {
  background: #F7F7F7;
  color: #FFFFFF;
  text-shadow: none;
}
::-webkit-selection {
  background: #F7F7F7;
  color: #FFFFFF;
  text-shadow: none;
}
::-moz-selection {
  background: #F7F7F7;
  color: #FFFFFF;
  text-shadow: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
  color: #696969;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  color: #696969;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic;
  color: #696969;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  color: #696969;
}
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.header {
  background: #FFFFFF;
  text-align: right;
  padding: 10px 0;
  border-bottom: 1px solid #CCCCCC;
}
.header .header-inner {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
  padding: 46px 20px 46px 172px;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 132px;
  height: auto;
}
.header .nav {
  display: inline-block;
  vertical-align: middle;
}
.header .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .nav ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.header .nav ul li:last-child {
  margin-right: 0;
}
.header .nav ul li a {
  display: inline-block;
  vertical-align: top;
  color: #2C2C2C;
  position: relative;
}
.header .nav ul li a:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2C2C2C;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header .nav ul li a:hover:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.header .header-search {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 20px;
  width: 25%;
}
.header .header-search .input-wrap {
  position: relative;
}
.header .header-search .input-wrap input.search-input {
  height: 40px;
  border: 1px solid #272727;
  background-color: #F7F7F7;
  font-size: 13px;
  line-height: 38px;
  color: #696969;
  border-radius: 21px;
  padding: 0 60px 0 20px;
  width: 100%;
}
.header .header-search .input-wrap .search-submit {
  position: absolute;
  top: 0px;
  right: 0;
  height: 40px;
  width: 40px;
  font-size: 18px;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
}
.header .header-search .input-wrap .search-submit span {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header .header-search .input-wrap .search-submit:hover span {
  opacity: 0.6;
}
.footer {
  text-align: center;
}
.footer a {
  color: #FFFFFF;
}
.footer .footer-cta-wrap {
  padding: 30px 50px;
}
.footer .footer-cta-wrap .footer-cta-col {
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-cta-wrap .footer-cta-col span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer .footer-cta-wrap .footer-cta-col span.img-wrap {
  padding: 10px 15px;
  border-radius: 50%;
  background-clip: padding-box;
  position: relative;
}
.footer .footer-cta-wrap .footer-cta-col span.text {
  padding: 11px 10px;
  margin-left: -20px;
  width: 200px;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1);
}
.footer .footer-cta-wrap .footer-cta-col.left {
  margin-right: 20px;
}
.footer .footer-cta-wrap .footer-cta-col.left span {
  background-color: #C61C30;
}
.footer .footer-cta-wrap .footer-cta-col.right span {
  background-color: #000000;
}
.footer .footer-content-wrap {
  background: #000000;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
  padding: 30px 50px;
}
.footer .footer-content-wrap .footer-content {
  border-bottom: 1px solid rgba(224, 224, 224, 0.4);
  padding-bottom: 15px;
  max-width: 1200px;
  margin: 0 auto 30px;
}
.footer .footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 0;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.footer .footer-nav ul li:last-child {
  margin-right: 0;
}
.footer .footer-nav ul li a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer .footer-nav ul li a:hover {
  opacity: 0.6;
}
.footer .address {
  margin: 20px 0;
}
.footer .socials {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .socials li {
  display: inline-block;
  vertical-align: top;
}
.footer .socials li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  line-height: 28px;
  opacity: 0.66;
}
.footer .copyright {
  opacity: 0.66;
  margin: 0;
}
.home .home-banner {
  position: relative;
  background: url(../images/home-banner-lucy.jpg) center center no-repeat;
  background-size: cover;
}
.home .home-banner:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 42.85714286%;
}
.home .home-banner .text-box {
  position: absolute;
  top: 10%;
  right: 10%;
  max-width: 500px;
}
.home .home-banner .text-box h2 {
  font-size: 50px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0 0 10px;
  text-transform: none;
}
.home .home-banner .text-box p {
  margin: 0 0 20px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
  color: #696969;
}
.home .home-banner .text-box .btn {
  padding-left: 60px;
  padding-right: 60px;
}
.home .welcome-text {
  text-align: center;
  color: #FFFFFF;
  background-color: #2C2C2C;
  padding: 60px 20px;
}
.home .welcome-text .welcome-text-inner {
  max-width: 880px;
  margin: 0 auto;
}
.home .welcome-text h2 {
  color: #FFFFFF;
}
.home .welcome-text p {
  font-size: 20px;
  line-height: 32px;
}
.home .welcome-text p:first-of-type {
  margin-bottom: 20px;
}
.home .available-dogs-container {
  text-align: center;
  padding: 40px 20px;
}
.home .available-dogs-container h2 {
  color: #C61C30;
}
.home .available-dogs-container p.subtitle {
  color: #000000;
  font-size: 14px;
  margin-bottom: 30px;
}
.home .available-dogs-container p.subtitle a {
  color: #000000;
  text-decoration: underline;
}
.home .available-dogs-container .available-dogs {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.home .available-dogs-container .available-dogs li {
  float: left;
  width: 32%;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
}
.home .available-dogs-container .available-dogs li:nth-child(3n) {
  margin-right: 0;
}
.home .available-dogs-container .available-dogs li .img-wrap {
  margin-bottom: 20px;
}
.home .available-dogs-container .available-dogs li .img-wrap img {
  display: block;
}
.home .available-dogs-container .available-dogs li h5 {
  margin-bottom: 0;
}
.page-title-wrap {
  position: relative;
  background-color: #2C2C2C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}
.page-title-wrap:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 9.375%;
}
.page-title-wrap .page-title {
  font-size: 32px;
  line-height: 38px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}
.page-container .page-content .section-container {
  margin-bottom: 40px;
}
.page-container .page-content .section-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-container.has-sidebar .page-content {
  float: right;
  width: 65%;
}
.page-container.has-sidebar .sidebar {
  float: left;
  width: 30%;
}
.page-container.has-sidebar .sidebar #rpwwt-recent-posts-widget-with-thumbnails-2 ul li {
  margin-bottom: 30px;
}
.page-container.has-sidebar .sidebar #rpwwt-recent-posts-widget-with-thumbnails-2 ul li:last-child {
  margin-bottom: 0;
}
.page-container.has-sidebar .sidebar #rpwwt-recent-posts-widget-with-thumbnails-2 img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 15px 0;
  float: none;
}
.page-container.has-sidebar .sidebar #rpwwt-recent-posts-widget-with-thumbnails-2 .rpwwt-post-title {
  display: block;
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000000;
}
body.about .page-title-wrap {
  background-image: url(../images/about-banner.png);
}
body.contact .page-title-wrap {
  background-image: url(../images/contact-banner.png);
}
body.contact .contact-form-container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto 40px;
}
body.contact .contact-form-container .form-wrap {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  body.contact .contact-form-container .form-wrap .form-col {
    width: 46%;
  }
  body.contact .contact-form-container .form-wrap .form-col.left {
    float: left;
  }
  body.contact .contact-form-container .form-wrap .form-col.right {
    float: right;
  }
}
body.contact .contact-form-container h5 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}
body.contact .contact-form-container .subtitle {
  font-weight: bold;
  margin-bottom: 30px;
}
body.contact .contact-form-container p a {
  color: #C61C30;
}
body.contact .contact-form-container p a:hover {
  text-decoration: underline;
}
body.available-dogs .page-title-wrap {
  background-image: url(../images/available-dogs-banner.png);
}
body.available-dogs .available-dogs-container {
  text-align: center;
  padding: 40px 20px;
}
body.available-dogs .available-dogs-container .available-dogs {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
body.available-dogs .available-dogs-container .available-dogs li {
  float: left;
  width: 32%;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 2%;
}
body.available-dogs .available-dogs-container .available-dogs li:nth-child(3n) {
  margin-right: 0;
}
body.available-dogs .available-dogs-container .available-dogs li .img-wrap {
  margin-bottom: 20px;
}
body.available-dogs .available-dogs-container .available-dogs li .img-wrap img {
  display: block;
}
body.available-dogs .available-dogs-container .available-dogs li h5 {
  margin-bottom: 0;
}
.single-available-dog .available-dog-container {
  padding: 40px 20px;
  max-width: 1240px;
  margin: 0 auto;
}
.single-available-dog .available-dog-container .available-dog-col {
  float: left;
  width: 48%;
}
.single-available-dog .available-dog-container .available-dog-col.left {
  float: left;
}
.single-available-dog .available-dog-container .available-dog-col.right {
  float: right;
}
.single-available-dog .available-dog-container .feature-image {
  margin-bottom: 20px;
}
.single-available-dog .available-dog-container .actions-toolbar {
  margin-bottom: 30px;
  font: 0/0 a;
}
.single-available-dog .available-dog-container .actions-toolbar .btn {
  display: inline-block;
  vertical-align: top;
  width: 46%;
}
.single-available-dog .available-dog-container .actions-toolbar .btn:first-of-type {
  margin-right: 8%;
}
.single-available-dog .available-dog-container .content-wrap {
  margin-bottom: 30px;
  line-height: 30px;
}

/*# sourceMappingURL=../css/styles.css.map */